html {
    height: 100%;
    font-size: calc(10px + 2vmin);
}

:root {
    --background-color:#1f1d2a;
    --transparent:rgba(0,0,0,0);
    --noir:rgb(18, 18, 18);
    --grey:rgb(31, 32, 35);
    --violet-fonce:#14131b;
    --violet-clair:#262334;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

/* General */
.text, .pays_reponses {
    color: white;
    font-size: 1rem;
}

h1 {
    color: white;
    font-size: 2rem;
}



/* Panneau de jeux */
#panneau_jeux {
    background-color: var(--noir);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#titre, label {
    color: white;
}

#top {
    margin-top: 10px;
    border-bottom: solid white;
}

#titre {
    font-size: 2rem;
}

#drapeau_a_deviner {
    height: 150px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#faux {
    color: red;
    font-size: 1rem;
}

/* formulaire */
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#entree {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
}

#guess, #passer {
    font-size: 1rem;
    flex: 1;
    margin: 0;
    padding: 5px;
    color: var(--noir);
}

label {
    font-size: 1rem;
}

input {
    margin-bottom: 30px;
}


/* Réponses */
#listeReponses {
    display: flex;
    flex-direction: column;
    margin: 50px;
    min-height: 100px;
}

.reponse {
    background-color: var(--violet-clair);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px;
}

.pays_reponses {
    color: white;
    font-size: 1rem;
}

.drapeau_reponse {
    height: 60px;
}

#nom, #drapeau {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Explication */
.presentation {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: var(--violet-clair);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    text-align: center;
}

h2 {
    font-size: 2rem;
}

.how-to-play li {
    list-style-type: none;
}

.center {
    text-align: center;
}

li {
    text-align: center;
}

h2 {
    text-decoration: underline;
}







/* Footer */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0px;
    background-color: var(--violet-fonce);
    text-align: center;
}

.createur {
    color: white;
}

/* Cacher elements */
.cacher {
    display: none;
}

/* Break points 
640
768
1024
1280
1537
*/