html {
    height: 100%;
    font-size: calc(10px + 2vmin);
}

:root {
    --background-color:#1f1d2a;
    --transparent:rgba(0,0,0,0);
    --noir:rgb(18, 18, 18);
    --grey:rgb(31, 32, 35);
    --violet-fonce:#14131b;
    --violet-clair:#262334;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

/* General */
.text, .pays_reponses {
    color: white;
    font-size: 1rem;
}

h1 {
    color: white;
    font-size: 2rem;
}



/* Panneau de jeux */
#prejeu, #findujeu {
    border: solid var(--violet-clair);
    padding: 20px;
    margin: 20px;
}

#panneau_jeux {
    background-color: var(--noir);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#titre, label {
    color: white;
}

#settings-logo, #fermerParametre {
    background-color: var(--background-color);
    width: 1rem;
    cursor: pointer;
}

#minuteur {
    margin: 0;
}

/* Parametre */
#settingsPanel {
    background-color: var(--noir);
    color: white;
    border: solid var(--violet-fonce);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 350px;
    min-width: 210px;
    padding: 1rem;
}

#parametreTitre {
    margin: 0;
}

/* Bouton Style */
/* 
.form-check {
    position: relative;
    grid-template-columns: 2em 1fr;
    grid-template-areas: "checkbox label";
    gap: 0.7em;
}

.form-check input {
    position: absolute;
    opacity: 0;
}

.form-check label {
    display: grid;
}

.form-check label::before {
    content: '';
    grid-area: "checkbox";
    display: block;
    width: 100%;
    height: 1em;
    border: solid gray;
    border-radius: 1em;
} */
.pub {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




#fermerParametre {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#top {
    margin-top: 10px;
    border-bottom: solid white;
}

#titre {
    font-size: 2rem;
}

#drapeau_a_deviner {
    height: 150px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#faux {
    color: red;
    font-size: 1rem;
}

/* formulaire */
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#entree {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
}

#guess, #passer {
    font-size: 1rem;
    flex: 1;
    margin: 0;
    padding: 5px;
    color: var(--noir);
}

label {
    font-size: 1rem;
}

input {
    margin-bottom: 30px;
}


/* Réponses */
#listeReponses {
    display: flex;
    flex-direction: column;
    margin: 50px;
    min-height: 100px;
}

.reponse {
    background-color: var(--violet-clair);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px;
}

.pays_reponses {
    color: white;
    font-size: 1rem;
}

.drapeau_reponse {
    height: 60px;
}

#nom, #drapeau {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Explication */
.presentation {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: var(--violet-clair);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    text-align: center;
}

.text-important {
    font-size: 2rem;
    color: white;
    text-decoration: underline;
}

.how-to-play li {
    text-align: center;
}

.center {
    text-align: center;
}

li {
    list-style-type: none;
}






/* Footer */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0px;
    background-color: var(--violet-fonce);
    text-align: center;
}

.createur {
    color: white;
}

/* Cacher elements */
.cacher {
    display: none;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


/* Break points 
640
768
1024
1280
1537
*/

/* Appliquer un effet d'opacité à tous les éléments */